@media (max-width: 1366px) {
  .header__nav {
    margin-right: 35px;
  }

  .header__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .header {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .header-container {
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header__img {
    width: 150px;
  }

  .header__logo {
    margin-right: 0;
  }

  .burger,
  .nav__close {
    display: block;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: -25px;
    width: 30%;
    min-width: 320px;
    height: 100vh;
    padding: 50px 50px 250px 50px;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .header__nav .header__list {
    flex-direction: column;
  }

  .header__nav .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__nav .header__link {
    font-size: 24px;
  }

  .nav__close {
    margin-bottom: 108px;
  }

  .header__nav--active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger {
    position: relative;
    width: 30px;
    height: 27px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #333333;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0px;
  }

  .burger__line:nth-child(3) {
    bottom: 4px;
  }

  .burger__line:nth-child(2) {
    top: 39%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }

  .hero {
    padding-top: 36px;
    padding-bottom: 17px;
  }

  .hero__content {
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 77px;
  }

  .hero__slide1 {
    background-image: url(../img/hero-1024-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide2 {
    background-image: url(../img/hero-1024-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide3 {
    background-image: url(../img/hero-1024-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    width: 100%;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    width: 100%;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    padding-top: 18px;
    padding-bottom: 40px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__text {
    margin-bottom: 60px;
  }

  .about-us__block {
    width: 100%;
  }

  .about-us__left {
    height: 640px;
  }

  .block__item--left {
    padding: 49px 50px;
  }

  .steps {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .steps__list {
    margin-bottom: 50px;
  }

  .step__block {
    width: 46%;
    min-height: 700px;
  }

  .step__item::before {
    content: "";
    width: 47%;
  }

  .step__text {
    margin-bottom: auto;
  }

  .step__item.step__1::before {
    background-image: url(../img/step-1-1024.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__2::before {
    background-image: url(../img/step-2-1024.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__3::before {
    background-image: url(../img/step-3-1024.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__4::before {
    background-image: url(../img/step-4-1024.jpg);
    background-size: cover;
    background-position: center;
  }

  .questions {
    padding-top: 40px;
    padding-bottom: 81px;
  }

  .questions__title {
    margin-bottom: 32px;
  }

  .questions__btn {
    text-align: left;
  }

  .questions__text {
    max-width:82%;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .footer__content {
    padding-top: 50px;
  }

  .footer__left {
    width: 30%;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__img {
    width: 224px;
    height: 72px;
  }

  .footer__right {
    display: none;
  }

  .footer__center {
    width: 58.5%;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__form__top {
    margin-bottom: 23px;
  }

  .footer__item {
    padding: 14.3px 24px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer__item .textarea {
    height: 180px;
  }

  .footer__btn {
    padding: 19px 37px;
  }

  .footer__bottom {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 0;
    padding-left: 0;
  }

  .header-container {
    padding-top: 11px;
    padding-bottom: 8px;
  }

  .hero {
    padding-top: 38px;
  }

  .hero__content {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 24px;
  }

  .hero__slide1 {
    background-image: url(../img/hero-768-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide2 {
    background-image: url(../img/hero-768-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide3 {
    background-image: url(../img/hero-768-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__text {
    margin-bottom: 55px;
}

  .about-us__left {
    height: 648px;
    border-radius: 24px;
  }

  .block__item--left {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .block__text--left {
    max-width: 65%;
  }

  .block__btn {
    padding: 17px 36px;
    border-radius: 16px;
  }

  .block__item--right {
    padding-top: 36px;
    padding-bottom: 35px;
    padding-right: 48px;
    padding-left: 25.1%;
    border-radius: 24px;
  }

  .block__item--top {
    background-image: url(../img/block-1.svg);
    background-position: 7%;
    background-size: 17%;
    background-repeat: no-repeat;
  }

  .block__item--bottom {
    background-image: url(../img/block-2.svg);
    background-position: 7%;
    background-size: 17%;
    background-repeat: no-repeat;
  }

  .steps {
    padding-bottom: 25px;
  }

  .steps__list {
    justify-content: space-between;
    margin-bottom: 47px;
  }

  .steps__item:not(:last-child) {
    margin-right: 0;
  }

  .step__item {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 322px;
  }

  .step__block {
    max-height: 60%;
    width: 100%;
    min-height: 478px;
  }

  .step__item::before {
    content: "";
    position: absolute;
    width: 100%;
    max-height: 284px;
    border-radius: 24px;
    right: 0;
    left: 0;
    top: 0;
  }

  .step__item.step__1::before {
    background-image: url(../img/step-1-768.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__2::before {
    background-image: url(../img/step-2-768.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__3::before {
    background-image: url(../img/step-3-768.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__4::before {
    background-image: url(../img/step-4-768.jpg);
    background-size: cover;
    background-position: center;
  }

  .questions {
    padding-top: 27px;
    padding-bottom: 110px;
  }

  .questions__text {
    max-width: 86%;
  }

  .footer__nav {
    display: none;
  }

  .footer__content {
    flex-direction: column-reverse;
    padding-bottom: 46px;
  }

  .footer__center {
    margin-bottom: 50px;
    width: 81%;
  }

  .footer__left {
    width: 35%;
  }

  .footer__bottom {
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }

  .header {
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 12px;
    padding-left: 0;
  }

  .header__img {
    width: 110px;
    height: 37px;
  }

  .header__form {
    width: 320px;
    padding: 22px 15px;
  }

  .header__input {
    font-size: 16px;
    line-height: 20px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero__content {
    justify-content: center;
    align-items: center;
    padding: 60px 21px;
    border-radius: 16px;
  }

  .hero__slide1 {
    background-image: url(../img/hero-320-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide2 {
    background-image: url(../img/hero-320-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide3 {
    background-image: url(../img/hero-320-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 12.5px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .about-us {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background-image: none;
    height: 400px;
  }

  .block__item--left {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    background: none;
  }

  .about-us__left::before {
    content: "";
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    border-radius: 16px;
    background-image: url(../img/about-us-img.jpg);
    background-size: cover;
    background-position: center;
  }

  .block__text--left {
    margin-bottom: 13px;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .block__btn {
    padding: 11px 12px;
    width: 100%;
    max-width: 161px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .block__item--right {
    padding-top: 21%;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    outline: none;

  }

  .block__item--top {
    background-image: url(../img/block-1-320.svg);
    background-position: top left;
    background-size: 22%;
    background-repeat: no-repeat;
  }

  .block__item--bottom {
    background-image: url(../img/block-2-320.svg);
    background-position: top left;
    background-size: 22%;
    background-repeat: no-repeat;
  }

  .block__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .block__text--right {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .steps {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .steps__tltle {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .steps__list {
    margin-bottom: 15px;
  }

  .step__item {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 175px;
  }

  .step__item::before {
    content: "";
    position: absolute;
    max-height: 158px;
    width: 100%;
    top: 0;
    border-radius: 16px;
    background-image: url(../img/step-1.jpg);
    background-size: cover;
    background-position: center;
  }

  .steps__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .step__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .step__text {
    margin-bottom: 23px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .step__btns {
    align-items: center;
  }

  .btns__bottom--left {
    padding: 12px 14px;
    width: 57%;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .btns__bottom--right {
    padding: 12px 14px;
    width: 41%;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .btns__bottom:not(:last-child) {
    margin-right: 11px;
  }

  .questions {
    padding-top: 30px;
    padding-bottom: 63px;
  }

  .questions__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions__text {
    font-size: 14px;
    line-height: 24px;
  }

  .questions__btn svg {
    width: 30px;
    height: 30px;
  }

  .footer__content {
    padding-top: 33px;
    padding-bottom: 26px;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__center {
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #595959;
    width: 100%;
  }

  .footer__item {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 26px;
  }

  .footer__form__top {
    margin-bottom: 23px;
  }

  .footer__btn {
    margin-right: 0;
    padding: 12px 27px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    align-items: center;
    padding-top: 16px;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__img {
    width: 131px;
    height: 42px;
  }

  .soc__link svg {
    width: 40px;
    height: 40px;
  }

  .soc__item:not(:last-child) {
    margin-right: 16px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }

  .header {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
  }

  .header-container {
    padding-top: 16px;
    padding-bottom: 12px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  }

  .header__img {
    width: 110px;
    height: 37px;
  }

  .header__nav .header__link {
    font-size: 16px;
    line-height: 20px;
  }

  .nav__close {
    margin-bottom: 32px;
  }

  .header__nav .header__item:not(:last-child) {
    margin-bottom: 32px;
}

  .header__form {
    border-radius: 0px 0px 24px 24px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero__content {
    justify-content: center;
    align-items: center;
    padding: 60px 21px;
    border-radius: 16px;
  }

  .hero__slide1 {
    background-image: url(../img/hero-320-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide2 {
    background-image: url(../img/hero-320-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__slide3 {
    background-image: url(../img/hero-320-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    padding: 12.5px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
  }

  .about-us {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background-image: none;
    height: 400px;
  }

  .block__item--left {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    background: none;
  }

  .about-us__left::before {
    content: "";
    position: absolute;
    top: 0;
    height: 200px;
    width: 100%;
    border-radius: 16px;
    background-image: url(../img/about-us-img.jpg);
    background-size: cover;
    background-position: center;
  }

  .block__text--left {
    margin-bottom: 13px;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .block__btn {
    padding: 11px 12px;
    width: 100%;
    max-width: 161px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .block__item--right {
    padding-top: 21%;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    outline: none;

  }

  .block__item--top {
    background-image: url(../img/block-1-320.svg);
    background-position: top left;
    background-size: 22%;
    background-repeat: no-repeat;
  }

  .block__item--bottom {
    background-image: url(../img/block-2-320.svg);
    background-position: top left;
    background-size: 22%;
    background-repeat: no-repeat;
  }

  .block__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .block__text--right {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .steps {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .steps__tltle {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .steps__list {
    margin-bottom: 12px;
  }

  .step__block {
    min-height: 833px;
  }

  .step__item {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 175px;
  }

  .step__item::before {
    content: "";
    position: absolute;
    max-height: 158px;
    width: 100%;
    top: 0;
    border-radius: 16px;
  }

  .step__item.step__1::before {
    background-image: url(../img/step-1-320.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__2::before {
    background-image: url(../img/step-2-320.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__3::before {
    background-image: url(../img/step-3-320.jpg);
    background-size: cover;
    background-position: center;
  }

  .step__item.step__4::before {
    background-image: url(../img/step-4-320.jpg);
    background-size: cover;
    background-position: center;
  }

  .steps__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .step__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .step__text {
    margin-bottom: auto;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .step__btns {
    align-items: center;
  }

  .btns__bottom--left {
    padding: 12px 14px;
    width: 57%;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .btns__bottom--right {
    padding: 12px 14px;
    width: 41%;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .btns__bottom:not(:last-child) {
    margin-right: 11px;
  }

  .questions {
    padding-top: 30px;
    padding-bottom: 63px;
  }

  .questions__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions__text {
    font-size: 14px;
    line-height: 24px;
  }

  .questions__btn svg {
    width: 30px;
    height: 30px;
  }

  .footer__content {
    padding-top: 33px;
    padding-bottom: 26px;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__center {
    padding-bottom: 15px;
    border-bottom: 1px solid #595959;
    width: 100%;
  }

  .footer__item {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 27px;
}

  .footer__form__top {
    margin-bottom: 18px;
  }

  .footer__btn {
    margin-right: 0;
    padding: 12px 27px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    align-items: center;
    padding-top: 16px;
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__img {
    width: 131px;
    height: 42px;
  }

  .soc__link svg {
    width: 40px;
    height: 40px;
  }

  .soc__item:not(:last-child) {
    margin-right: 16px;
  }
}
